* {
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
}

body {
    font-family: "Segoe UI", Segoe, "Segoe WP", Tahoma, Sans-Serif;
    color: #444;
            
}

h1 {
    font-size: 1.4em;
    float: left;
    line-height: 1.4em;
    margin-right: 0.6em;
}

h2 {
    margin: 0.2em 0 0;
    font-size: 1.2em;
    color: #666;
    float: left;
    line-height: 1.4em;
    clear: right;
}

h3 {
    margin: 0.8em 0 0 0.5em;
    font-size: 1em;
    color: #666;
    line-height: 1.4em;
}

p {
    padding: 0.5em 0;
    clear: both;
}

.info, .output {
    margin: 0.5em;
}

.info h3 {
    margin-left: 0;
}

#toggle-scroll {
    background-color: #0094ff;
    color: #fff;
    margin: 0 .5em .5em;
    padding: .5em .5em;
    display: inline-block;
    cursor: pointer;
}
#toggle-scroll:hover {
    background-color: #1f88d4;
    text-decoration: none;
}

.output {
    border: 2px solid #666;
}

.row {
    padding: .5em .4em;
}

.row.main {
    margin-bottom: .5em;
    background-color: #eee;
    border-bottom: 1px solid #666;
}

.value {
    font-weight: bold;
    background-color: #444;
    color: #fff;
    padding: .2em .4em;
}

.main .value {
    background-color: green;
}

a {
    color: #0072C6;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
}

code {
    display: block;
    margin: 0.5em;
    padding: 0.2em 0.5em;
    white-space: pre;
    font-size: 0.9em;
    color: #000;
    font-family: Consolas, Serif;
    line-height: 1.4em;
    overflow-x: auto;
    border: 2px solid #bbb;
}

code .nt {
    color: #000080;
}
code .na {
    color: #008080;
}
code .s {
    color: #d14;
}